body{
    background-color: rgb(16, 58, 71);
}
input{
    background-color: rgb(16, 58, 71);
    border: none;
    color:white;
}
td, tr{
     border: 1px solid black;
}
table{
    border:2px solid;
}
td{
    text-align: center;
}
h1{
    
    font-size: 30px;
   
}
#id1{
  
    background-color:rgb(16, 58, 71) ;
}
